.footer{
    background-color:$black;
    color: $anti-flash-white;
    }

/*creo 2 clases para el footer para poder aplicar extend*/
/*creo clase footerUbicacion para poder aplicar extend*/
.footerUbicacion{ 
    font-family: $font-family;
    background-color:$black;
    color: $anti-flash-white;
}
/*creo clase footerHorario para poder aplicar extend y le cambio el font-family sólo para mostratr el uso*/
.footerHorario{
    @extend .footerUbicacion;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer{
    &:iconoFcb{
        right: 10px;
        bottom: 10px;
        color: $facebook;
    }
    &:iconoInsta{
        right: 10px;
        bottom: 10px;
        color: $instagram;
    }
}
